<div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dateModalLabel">Data Selecionada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="selectedDate"></p>
                <div id="timeButtons" class="d-grid gap-2">
                    <button class="btn btn-info" data-time="08:00" data-date="">08:00 às 09:00</button>
                    <button class="btn btn-info" data-time="09:00" data-date="">09:00 às 10:00</button>
                    <button class="btn btn-info" data-time="10:00" data-date="">10:00 às 11:00</button>
                    <button class="btn btn-info" data-time="11:00" data-date="">11:00 às 12:00</button>
                    <button class="btn btn-info" data-time="14:00" data-date="">14:00 às 15:00</button>
                    <button class="btn btn-info" data-time="15:00" data-date="">15:00 às 16:00</button>
                    <button class="btn btn-info" data-time="16:00" data-date="">16:00 às 17:00</button>
                    <button class="btn btn-info" data-time="17:00" data-date="">17:00 às 18:00</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>